*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
  width: 8.5in;
  height: 11in;
  margin: 0;
  padding: 0;
}

/* Page Dimensions */

#page {
  page-break-after: always;
  position: relative;
  width: 8.5in;
  height: 11in
}

.page-content {
  background-image: url('../img/qr-25-25.jpg');
  background-size: 8.5in 11in;
  position: absolute;
  width: 8.125in;
  height: 10.625in;
  left: 0;
  top: 0;
}

.qr-container {
  /*background: #22b74b61;*/
  width: 1.5in;
  height: 1.5in;
  margin: .58in 0.25in 0 0;
  float: left;
  padding: 8px;
  overflow: hidden;
  display: block;
}

.qr-container:nth-child(4n) {margin-right: 0;}

.qr-container:nth-child(1n) {
    margin-left: .5in;
    margin-right: 0;
}

.qr-container img {
    max-width: 100%;
}

@media print {


  #page {
    page-break-after: always;
    position: relative;
    width: 8.5in;
    height: 11in
  }

  .page-content {
    background-image: url('../img/qr-25-25.jpg');
    background-size: 8.5in 11in;
    position: absolute;
    width: 8.125in;
    height: 10.625in;
    left: 0;
    top: 0;
  }

  .qr-container img {
    max-width: 100%;
  }
  /*

  @page {
  size: auto;
  margin: 0;
  }  */

}
